<include file="raptor/Home/View/Header/header.html" />
<link rel="stylesheet" href="__PUBLIC__/Css/table.css">
<link rel="stylesheet" href="__PUBLIC__/Css/proman.css">
<script src="__PUBLIC__/Js/bootstrap-table.js"></script>

<div class="container">
    <div class="row rowpiece">
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 subhead" ><a href="{:U('History/history')}" style=" background-color:rgba(34,41,48,.6);">工程列表</a></div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 subhead" ><a href="{:U('Task/task')}" >任务列表</a></div>
    </div>
    <div class="row rowpiece">
        <table class="table table-bordered " id = "table" style="text-align: center;ord-wrap:break-word;word-break:break-all">

        </table>
    </div>

</div>
 <script src="__PUBLIC__/Js/history.js"></script>
</body>
</html>