<include file="raptor/Admin/View/Header/header.html" />
<link rel="stylesheet" href="__PUBLIC__/admin/Css/signin.css">
<div class="container">
    <div class="row main">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="title">欢迎使用<br>匠迪代码安全审查后台系统</h2>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form action= "" id="form" onsubmit="return false">
                <div class="xddw message">
                    <span>用户名：</span>
                    <input type="text" name="user_name" placeholder="请输入用户名" class="message-input">
                    <p class="warning"></p>
                </div>

                <div class="xddw message">
                    <span>密码：</span>
                    <input type="password" name="password" placeholder="请输入密码" class="message-input">
                    <p class="warning warning_err"></p>
                </div>

                <div class="xddw message">
                    <span>验证码：</span>
                    <input type="text" id="inputCode" placeholder="输入验证码" class="message-input" style="width: 45%">
                    <div class="code" id="checkCode" onclick="createCode()" ></div>
                    <p class="warning login_code"></p>
                </div>
                <div class="xddw message">
                    <button class="register" type="submit" type = "button">登&nbsp;&nbsp;陆</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="__PUBLIC__/admin/Js/jquery-3.1.1.min.js"></script>
<script src="__PUBLIC__/admin/Js/bootstrap.min.js"></script>
<script src="__PUBLIC__/admin/Js/login.js"></script>
</body>
</html>