<include file="raptor/Home/View/Header/header.html" />
<link rel="stylesheet" href="__PUBLIC__/Css/userinfo.css">
<div class="container">
    <div class="row main">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="useheibg"></div>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usehei" >
            <div class="usemessage">
                <div class="linemessage">
                    <span class="markname">用户名：</span>
                    <span class="markmessage">{$user_info['user_name']}</span>
                </div>
                <div class="linemessage">
                    <span class="markname">电话：</span>
                    <span class="markmessage">{$user_info['phone']}</span>
                </div>
                <div class="linemessage">
                    <span class="markname">邮箱：</span>
                    <span class="markmessage">{$user_info['email']}</span>
                </div>
                <div class="linemessage" style="border-bottom: none">
                    <span class="markname">创建时间：</span>
                    <span class="markmessage">{$user_info['register_time']}</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>