<include file="raptor/Home/View/Header/header.html" />
<link rel="stylesheet" href="__PUBLIC__/Css/caf.css">
<link rel="stylesheet" href="__PUBLIC__/Css/jeuic.css">
<link rel="stylesheet" href="__PUBLIC__/Css/table.css">

<div class="container">
    <div class="row rowpiece">
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 subhead" ><a id="zong" href="{:U('Home/Analysis/issues/info_id/'.$info_id)}">总览视图</a></div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 subhead"><a href="{:U('Home/Analysis/issues_bro/info_id/'.$info_id)}" style=" background-color:rgba(34,41,48,.6);">分览视图</a></div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 subhead"><a href="{:U('Home/Analysis/online/info_id/'.$info_id)}">在线审计</a></div>
    </div>
    <div class="row rowpiece type_language">
        <ul  class="nav nav-tabs" id="language_title" style="border-bottom: 1px solid #262d37">
         <foreach name="file_class" key='file_key' item="file_class">
            <li class="subheadnext btn-gray btn-codetype">
                <a href="#language"  data-toggle="tab" info_id="{$info_id}">
                    {$file_key}
                </a>
            </li>
         </foreach>
        </ul>
        <div  class="row tab-content" style="margin-top: 1rem">
            <div class="tab-pane fade active in" id="language">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 mainmap" id = "oc_grade">
                    <!--ec图-->
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 mainmap" id = "oc_risk">
                    <!--ec图-->
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="{:U('Home/Analysis/issues_bro/info_id/'.$info_id)}"><button class="rel reset-view">全部</button></a>	
                </div>
                <table  class = "table table-bordered" id="table" style="word-wrap:break-word;word-break:break-all;margin-top: 20px">
                </table>
            </div>

        </div>
    </div>
</div>

<script src="__PUBLIC__/Js/bootstrap-table.js"></script>
<script src="__PUBLIC__/Js/echarts.js"></script>
<script src="__PUBLIC__/Js/dark.js"></script>
<script src="__PUBLIC__/Js/issues_bro.js"></script>
</body>
</html>
