<include file="raptor/Jd400bocde690obsec6007/View/Header/header.html" />
<link rel="stylesheet" href="__PUBLIC__/admin/Css/userinfo.css">
<div class="container">
    <div class="row main">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="useheibg"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usehei" >
            <form action="" class="formpas" onsubmit="return false" id="form">
                <div class="messpas">
                    <span class="formmark">原密码：</span>
                    <input type="password" class="pasinput message-input" name="ya_password">
                    <label for="" class="forwarn ya_password"></label>
                </div>
                <div class="messpas">
                    <span class="formmark">新密码：</span>
                    <input type="password" class="pasinput message-input" placeholder="请输入密码 数字 字母 标点（6-20）" name="password">
                    <label for="" class="forwarn password"> </label>
                </div>
                <div class="messpas">
                    <span class="formmark">确认密码：</span>
                    <input type="password" class="pasinput message-input" placeholder="请再次确认密码" name="password_ok">
                    <label for="" class="forwarn password_ok"> </label>
                </div>
                <button type="submit" class="btnpas register">确认</button>
            </form>
        </div>
    </div>
</div>
<script src="__PUBLIC__/admin/Js/changepas.js"></script>
</body>
</html>