<include file="raptor/Home/View/Header/header.html" />
<link rel="stylesheet" href="__PUBLIC__/Css/proman.css">
<div class="container">
    <div class="row rowpiece">
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 subhead" ><a href ="{:U('History/history')}" >工程列表</a></div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 subhead" ><a href = "{:U('Task/task')}" style=" background-color:rgba(34,41,48,.6);">任务列表</a></div>
    </div>
    <div class="notice"></div>
    <div class="row rowpiece pro_area"></div>
</div>
<script src="__PUBLIC__/Js/task.js"></script>
</body>
</html>